[class*="col-"] {
    width: 100%;
}
li{ display: block; margin-right: 40px;}
.footer3{margin-top: 800px;}
.footer4{margin-top: 1400px;}
.img5{width: 58%; margin-left: 18%;}
@media only screen and (min-width: 1px) {
.contentL{height: 745px;}
.contentL2{height: 750px;}
.footer{margin-top: 1850px;}
.footer2{margin-top: 2100px;}
}
@media only screen and (min-width: 630px) {
    .contentL{height: 800px;}
    .contentL2{height: 850px;}
    .footer{margin-top: 1800px;}
    .footer2{margin-top: 2000px;}
}
@media only screen and (min-width: 730px) {
    .contentL{height: 875px;}
    .contentL2{height: 1000px;}
    .footer{margin-top: 1900px;}
    .footer2{margin-top: 2150px;}
}
@media only screen and (min-width: 920px) {
li{ display: inline-block;}
.contentL{height: 1220px;}
.contentL2{height: 1200px;}
.contentL3{height: 600px;}
.contentL4{height: 750px;}
.contentR{height: 1220px;}
.contentR2{height: 1220px;}
.contentR3{height: 600px;}
.contentR4{height: 750px;}
.footer{margin-top: 1220px;}
.footer2{margin-top: 1200px;}
.footer3{margin-top: 600px;}
.footer4{margin-top: 750px;}
.img5{width: 82%; margin-left: 8%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: rgb(255, 102, 0);
    height: 200px;
}
.htext{
    text-align: center;
    color: white;
    padding: 25px;
}
.ftext{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.menu{
    background-color: rgb(177, 71, 1);
    display: inline-block;
    border-bottom: 7px solid rgb(231, 197, 0);
}
li{
padding-left: 30px;
padding-right: 30px;
}
li:hover {
    background-color: rgb(194, 80, 3);
}
a{
    text-decoration: none;
    color: white;
}
.contentL{
    background-color: rgb(231, 176, 112);
    float: left;
}
.contentL2, .contentL3, .contentL4{
    background-color: rgb(231, 176, 112);
    float: left;
}
.CLinhoud{
    margin: 5%;
}
.contentR, .contentR2, .contentR3, .contentR4{
    float: left;
}
.CRinhoud{
    margin: 0% 5% 5% 5%;
}
.h1r{
    color: rgb(177, 71, 1);
}
h4{
    text-align: center;
}
.ArtiekelF{
    font-size: 19px;
}
hr{
    height: 1px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.hr2{
    height: 1px;
    background-color: rgb(0, 0, 0);
    border: none;
}
img{
   width: 82%;
   margin: 6%;
   height: auto;
}
.img2{
    width: 28%;
    margin: 4%;
    height: auto;
 }
 .img3{
    width: 20%;
    margin: 4%;
    height: auto;
    float: right;
 }
 .img4{
    width: 28%;
    margin: 4%;
    height: auto;
    float: left;
 }
 .footer, .footer2, .footer3, .footer4{
    background-color: rgb(255, 102, 0);
    height: 100px;
    display: block;
}
input[type=text],[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: rgb(255, 128, 43);
  }
  